{% extends "books/base.html" %}
{% block content %}
    {% csrf_token %}
    {% if books|length_is:"1" %}
        <ul>
            {% for book in books %}
                <li>{{ forloop.counter }} <a href="/books/{{ book.id }}/">{{ book.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No books are available.</p>
    {% endif %}
    <form action="/books/add" method="post">
        <label for="title">Your books name: </label>
        <input id="title" type="text" name="title">
        <input type="submit" value="OK">
    </form>
{% endblock %}